.mat-card {
    display: flex;
    flex-direction: row;
}

.mat-icon {
    font-size: 10em;
    width: 20%;
}

.mat-card-content {
    margin-left: 16px;
}

.bob-job-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}